$div1:red;
#div1 {
    background: $div1;
    height: 50px;
    width: 50px;
}
#div3{
    height: 50px;
    width: 50px;
    background: blue;
}
#div2{
    @extend #div1;
    background: yellow;
}
div a{
    color: blue;
    &:hover{
        color: red;
    }
}
 