<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
	<script src="lib/require/require.js" type="text/javascript" data-main="js/index" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="css/icon/iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" href="css/header.css" />
</head>
<body>
	<!--文档头部-->
	<div class="header"></div>
	<!--文档主体-->
	<div class="main">
		<div class="navouter">
			<div class="nav">
				<div class="nav_left">
					<h2>商品全品类</h2>
				</div>
				<ul class="nav_mid">
					<li>
						<a href="">
							首页
							<s></s>
						</a>
						
					</li>
					<li>
						<a href="">
							百店同庆
							<s></s>
						</a>
						<span class="hot fairy_pic"></span>
					</li>
					<li>
						<a href="">
							领券
							<s></s>
						</a>
						<span class="hot fairy_pic"></span>
					</li>
					<li>
						<a href="">
							CLUB会员
							<s></s>
						</a>
						<span class="new fairy_pic"></span>
					</li>
					<li>
						<a href="">
							葡萄酒馆
							<s></s>
						</a>
					</li>
					<li>
						<a href="">
							洋酒馆
							<s></s>
						</a>
					</li>
					<li>
						<a href="">
							清仓
							<s></s>
						</a>
					</li>
					<li>
						<a href="">
							金六福特卖
							<s></s>
						</a>
					</li>
					<li>
						<a href="">
							新品
							<s></s>
						</a>
					</li>
				</ul>
				<div class="nav_right">
					<a href="">
						
					</a>
				</div>
			</div>
		</div>
		<div id="container">
			<ul>
				<li id="first_li"></li>
				<li id="second_li"></li>
				<li id="third_li"></li>
				<li id="forth_li"></li>
			</ul>
			<div id="pages">
				
			</div>
			<div id="prev">&lt;</div>
			<div id="next">&gt;</div>
		</div>
		<div class="mainbox_outer">
			<div class="mainbox">
				<div class="bgleft">
					<a href=""></a>
				</div>
				<div class="bgright">
					<a href=""></a>
				</div>
				<div class="pre_lay_1">
					<div class="pre_lay_1_left">
						<div class="pre_lay_1_left_head">
							
						</div>
						<div class="pre_lay_1_left_body">
							
						</div>
					</div>
					<div class="pre_lay_1_right">
						
						<div class="pre_lay_1_right_top">
							<div class="pre_lay_1_right_top_head">
								<ul class="pre_lay_1_right_top_head_u1">
									<li class="pre_lay_1_right_top_head_li1 checkbox_on">公告信息</li>
									<li class="pre_lay_1_right_top_head_li2">促销信息</li>
								</ul>
							</div>
							<div class="pre_lay_1_right_top_body">
								<div class="pre_lay_1_right_top_body_div1">
									<ul class="pre_lay_1_right_top_body_u1">
										<li>
											<a href="">
												8周年巅峰两小时两小时两小时两小时
											</a>
										</li>
										<li>
											<a href="">
												8周年巅峰两小时两小时两小时两小时
											</a>
										</li>
										<li>
											<a href="">
												8周年巅峰两小时两小时两小时两小时
											</a>
										</li>
										<li>
											<a href="">
												8周年巅峰两小时两小时两小时两小时
											</a>
										</li>
										<li>
											<a href="">
												8周年巅峰两小时两小时两小时两小时
											</a>
										</li>
										<li>
											<a href="">
												8周年巅峰两小时两小时两小时两小时
											</a>
										</li>
									</ul>
									<ul class="pre_lay_1_right_top_body_u2">
										<li>
											<a href="">
												国际啤酒节中奖名单
											</a>
										</li>
										<li>
											<a href="">
												国际啤酒节中奖名单
											</a>
										</li>
										<li>
											<a href="">
												国际啤酒节中奖名单
											</a>
										</li>
										<li>
											<a href="">
												国际啤酒节中奖名单
											</a>
										</li>
										<li>
											<a href="">
												国际啤酒节中奖名单
											</a>
										</li>
										<li>
											<a href="">
												国际啤酒节中奖名单
											</a>
										</li>
									</ul>
								</div>		
							</div>
						</div> 
						
						<div class="pre_lay_1_right_mid mt10">
							<div id="container2">
								<ul>
									<li id="first_li2">
										<a href=""><img src="images/index/banner/bno1.png" alt="" /></a>
									</li>
									<li id="second_li2">
										<a href=""><img src="images/index/banner/bno2.jpg" alt="" /></a>
									</li>
									<li id="third_li2">
										<a href=""><img src="images/index/banner/bno3.png" alt="" /></a>
									</li>
								</ul>
								<div id="pages2">
									
								</div>
								
							</div>
						</div>
						
						<div class="pre_lay_1_right_bot mt10">
							<div id="container3">
								<ul>
									<li id="first_li3">
										<a href=""><img src="images/index/banner/cno1.jpg" alt="" /></a>
									</li>
									<li id="second_li3">
										<a href=""><img src="images/index/banner/cno2.jpg" alt="" /></a>
									</li> 
									<li id="third_li3">
										<a href=""><img src="images/index/banner/cno3.png" alt="" /></a>
									</li>
								</ul>
								<div id="pages3">
									
								</div>
								
							</div>
						</div>
					</div>
				</div> 
			</div>
		</div>	
	<!--文档尾部-->
	<div class="footer"></div>
	<script type="text/html" id="pre_lay_1_left_temp">
	<ul>
		<% for(var i = 0; i < len ; i++) { %>
		<li class=""><%= liname[i] %></li>
		<% } %>
	</ul>
	</script>	
	
	
</body>
</html>