<!DOCTYPE html>
<html lang="zh">
<head> 
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
	<script src="lib/require/require.js" type="text/javascript" data-main="js/index" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="css/icon/iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" href="css/header.css" />
	<link rel="stylesheet" href="css/footer.css" />
</head>
<body>
	<!--文档头部-->
	<div class="header"></div>
	<!--文档主体-->
	<div class="xiding">
		这是传说中的吸顶
		<button class="xidinga">
			好丑关掉吧！
		</button>
	</div>
	?
	<div class="main"> 
		
		<div id="container">
			<ul>
				<li id="first_li"></li>
				<li id="second_li"></li>
				<li id="third_li"></li>
				<li id="forth_li"></li>
			</ul>
			<div id="pages">
				
			</div>
			<div id="prev">&lt;</div>
			<div id="next">&gt;</div>
		</div>
		<div class="mainbox_outer">
			<div class="mainbox">
				<div class="bgleft">
					<a href=""></a>
				</div>
				<div class="bgright">
					<a href=""></a> 
				</div>
				<div class="pre_lay_1"> 
					<div class="pre_lay_1_left">
						<div class="pre_lay_1_left_head">
							<ul>
								<li class="n1">疯狂抢购</li>
								<li class="n2">整箱囤货</li>
								<li class="n3">爆款精选</li>
								<li class="n4">口粮聚惠</li>
								<li class="n5">大牌特卖</li>
							</ul>
						</div>
						<div class="pre_lay_1_left_body">
							
						</div>
					</div>
					<div class="pre_lay_1_right">
						
						<div class="pre_lay_1_right_top">
							<div class="pre_lay_1_right_top_head">
								<ul class="pre_lay_1_right_top_head_u1">
									<li class="pre_lay_1_right_top_head_li1 checkbox_on">公告信息</li>
									<li class="pre_lay_1_right_top_head_li2">促销信息</li>
								</ul>
							</div>
							<div class="pre_lay_1_right_top_body">
								<div class="pre_lay_1_right_top_body_div1">
									<ul class="pre_lay_1_right_top_body_u1">
										<li>
											<a href="">
												8周年巅峰两小时两小时两小时两小时
											</a>
										</li>
										<li>
											<a href="">
												8周年巅峰两小时两小时两小时两小时
											</a>
										</li>
										<li>
											<a href="">
												8周年巅峰两小时两小时两小时两小时
											</a>
										</li>
										<li>
											<a href="">
												8周年巅峰两小时两小时两小时两小时
											</a>
										</li>
										<li>
											<a href="">
												8周年巅峰两小时两小时两小时两小时
											</a>
										</li>
										<li>
											<a href="">
												8周年巅峰两小时两小时两小时两小时
											</a>
										</li>
									</ul>
									<ul class="pre_lay_1_right_top_body_u2">
										<li>
											<a href="">
												国际啤酒节中奖名单
											</a>
										</li>
										<li>
											<a href="">
												国际啤酒节中奖名单
											</a>
										</li>
										<li>
											<a href="">
												国际啤酒节中奖名单
											</a>
										</li>
										<li>
											<a href="">
												国际啤酒节中奖名单
											</a>
										</li>
										<li>
											<a href="">
												国际啤酒节中奖名单
											</a>
										</li>
										<li>
											<a href="">
												国际啤酒节中奖名单
											</a>
										</li>
									</ul>
								</div>		
							</div>
						</div> 
						
						<div class="pre_lay_1_right_mid mt10">
							<div id="container2">
								<ul>
									<li id="first_li2">
										<a href=""><img src="images/index/banner/bno1.png" alt="" /></a>
									</li>
									<li id="second_li2">
										<a href=""><img src="images/index/banner/bno2.jpg" alt="" /></a>
									</li>
									<li id="third_li2">
										<a href=""><img src="images/index/banner/bno3.png" alt="" /></a>
									</li>
								</ul>
								<div id="pages2">
									
								</div>
								
							</div>
						</div>
						
						<div class="pre_lay_1_right_bot mt10">
							<div id="container3">
								<ul>
									<li id="first_li3">
										<a href=""><img src="images/index/banner/cno1.jpg" alt="" /></a>
									</li>
									<li id="second_li3">
										<a href=""><img src="images/index/banner/cno2.jpg" alt="" /></a>
									</li> 
									<li id="third_li3">
										<a href=""><img src="images/index/banner/cno3.png" alt="" /></a>
									</li>
								</ul>
								<div id="pages3">
									
								</div>
								
							</div>
						</div>
					</div>
				</div> 
				<div class="pre_lay_2 mt20" style="background: url(images/index/floor/pre_lay_2.jpg) no-repeat top center;">
					<p>
						<a href=""><img src="images/index/floor/pre_lay_2_img1.png"/></a>
					</p>
					<p>
						<a href=""><img src="images/index/floor/pre_lay_2_img2.png"/></a>
					</p>
					<p>
						<a href=""><img src="images/index/floor/pre_lay_2_img3.png"/></a>
					</p>
				</div>
				<div class="pre_lay_3 mt10">
					<div class="pre_lay_3_title">
						<div class="pre_lay_3_title_son">
							<i class="pre_lay_3_title_icon spr"></i>
							<span>优惠推荐</span>
						</div>
					</div>
					<div id="container4">
						<ul>
							<li id="first_li4">
									<div class="big_son">
										<p class="miaosha">
											<span>秒杀</span>
										</p>
										<div class="miaosha_pic">
											<a href="">
												<img src="images/index/floor/pre_lay_3_miaoshapic.png" alt="" />
											</a>
										</div>
										<div class="miaosha_lianjie">
											<a href="">
												52°扳倒井天香五十二1000ml
											</a>
										</div> 
										<div class="miaosha_money">
											<b class="miaosha_b">￥39.00</b>
										</div> 
										<div class="miaosha_time">
											<span>剩余：</span>
											<i class="days"></i>
											<span>天</span>
											<i class="hours"></i>
											<span>小时</span>
											<i class="minutes"></i>
											<span>分钟</span>
											<i class="seconds"></i>
											<span>秒</span>
										</div>
									</div>
									<div class="big_son">
										<p class="miaosha">
											<span>秒杀</span>
										</p>
										<div class="miaosha_pic">
											<a href="">
												<img src="images/index/floor/pre_lay_3_miaoshapic.png" alt="" />
											</a>
										</div>
										<div class="miaosha_lianjie">
											<a href="">
												52°扳倒井天香五十二1000ml
											</a>
										</div> 
										<div class="miaosha_money">
											<b class="miaosha_b">￥39.00</b>
										</div> 
										<div class="miaosha_time">
											<span>剩余：</span>
											<i class="days"></i>
											<span>天</span>
											<i class="hours"></i>
											<span>小时</span>
											<i class="minutes"></i>
											<span>分钟</span>
											<i class="seconds"></i>
											<span>秒</span>
										</div>
									</div>
									<div class="big_son">
										<p class="miaosha">
											<span>秒杀</span>
										</p>
										<div class="miaosha_pic">
											<a href="">
												<img src="images/index/floor/pre_lay_3_miaoshapic.png" alt="" />
											</a>
										</div>
										<div class="miaosha_lianjie">
											<a href="">
												52°扳倒井天香五十二1000ml
											</a>
										</div> 
										<div class="miaosha_money">
											<b class="miaosha_b">￥39.00</b>
										</div> 
										<div class="miaosha_time">
											<span>剩余：</span>
											<i class="days"></i>
											<span>天</span>
											<i class="hours"></i>
											<span>小时</span>
											<i class="minutes"></i>
											<span>分钟</span>
											<i class="seconds"></i>
											<span>秒</span>
										</div>
									</div>
									<div class="big_son">
										<p class="miaosha">
											<span>秒杀</span>
										</p>
										<div class="miaosha_pic">
											<a href="">
												<img src="images/index/floor/pre_lay_3_miaoshapic.png" alt="" />
											</a>
										</div>
										<div class="miaosha_lianjie">
											<a href="">
												52°扳倒井天香五十二1000ml
											</a>
										</div> 
										<div class="miaosha_money">
											<b class="miaosha_b">￥39.00</b>
										</div> 
										<div class="miaosha_time">
											<span>剩余：</span>
											<i class="days"></i>
											<span>天</span>
											<i class="hours"></i>
											<span>小时</span>
											<i class="minutes"></i>
											<span>分钟</span>
											<i class="seconds"></i>
											<span>秒</span>
										</div>
									</div>
									<div class="big_son">
										<p class="miaosha">
											<span>秒杀</span>
										</p>
										<div class="miaosha_pic">
											<a href="">
												<img src="images/index/floor/pre_lay_3_miaoshapic.png" alt="" />
											</a>
										</div>
										<div class="miaosha_lianjie">
											<a href="">
												52°扳倒井天香五十二1000ml
											</a>
										</div> 
										<div class="miaosha_money">
											<b class="miaosha_b">￥39.00</b>
										</div> 
										<div class="miaosha_time">
											<span>剩余：</span>
											<i class="days"></i>
											<span>天</span>
											<i class="hours"></i>
											<span>小时</span>
											<i class="minutes"></i>
											<span>分钟</span>
											<i class="seconds"></i>
											<span>秒</span>
										</div>
									</div>
									<div class="big_son">
										<p class="miaosha">
											<span>秒杀</span>
										</p>
										<div class="miaosha_pic">
											<a href="">
												<img src="images/index/floor/pre_lay_3_miaoshapic.png" alt="" />
											</a>
										</div>
										<div class="miaosha_lianjie">
											<a href="">
												52°扳倒井天香五十二1000ml
											</a>
										</div> 
										<div class="miaosha_money">
											<b class="miaosha_b">￥39.00</b>
										</div> 
										<div class="miaosha_time">
											<span>剩余：</span>
											<i class="days"></i>
											<span>天</span>
											<i class="hours"></i>
											<span>小时</span>
											<i class="minutes"></i>
											<span>分钟</span>
											<i class="seconds"></i>
											<span>秒</span>
										</div>
									</div>
							</li>
							<li id="second_li4">
									<div class="">
										<p></p>
										<div class="">
											<a href=""></a>
										</div>
										<div class="">
											
										</div>
										<div class="">
											
										</div>
										<div class="">
											
										</div>
									</div>
							</li>
							<li id="third_li4">
									<div class="">
										<p></p>
										<div class="">
											<a href=""></a>
										</div>
										<div class="">
											
										</div>
										<div class="">
											
										</div>
										<div class="">
											
										</div>
									</div>
							</li>
						</ul>
						<div id="pages4">
							
						</div>
						<div id="prev4">&lt;</div>
						<div id="next4">&gt;</div>
					</div>
				</div>
				<div class="lay_1 mt10" id="F1">
					<div class="lay_1_title">
						<div class="lay_1_title_left">
							<i class="lay_1_title_left_i spr">1F</i>
							<span>茅台</span>
						</div>
						<div class="lay_1_title_right">
							<a href="">贵州</a>|
							<a href="">四川</a>|
							<a href="">北京</a>|
							<a href="">江苏</a>|
							<a href="">山东</a>|
							<a href="">安徽</a>
							<a href="" class="nb_a">
								茅台
								<span>></span>
							</a>
						</div>
					</div>
					<div class="lay_1_body">
						<div class="lay_1_body_left">
							<div id="container5">
								<ul>
									<li id="first_li5">
										<a href="">
											<img src="images/index/floor/lay_1_car_1.jpg" alt="" />
										</a>
									</li>
									<li id="second_li5">
										<a href="">
											<img src="images/index/floor/lay_1_car_2.jpg" alt="" />
										</a>
									</li> 
									<li id="third_li5">
										<a href="">
											<img src="images/index/floor/lay_1_car_3.jpg" alt="" />
										</a>
									</li>
								</ul> 
								<div id="pages5">
									
								</div>
							</div>
						</div>
						<div class="lay_1_body_right">
							<ul>
								<li>
									<p class="miaosha">
										<span>
											爆款
										</span>
									</p>
									<div class="lay_1_body_right_pic">
										<a href="/html/list.html?maotai">
											<img src="/images/list/maotai.jpg" alt="" />
										</a>
									</div>
									<div class="pro_a">
										<a href="">
											【酒仙自营】法国整箱红酒法国（原瓶进口)法圣古堡圣威骑士干红葡萄酒750ml（6瓶装）
										</a>
									</div>
									<div class="pro_money">
										<b>￥99.00</b>
									</div>
								</li>

							</ul>
						</div>
					</div>
					<div class="lay_1_footer">
						<div class="lay_1_footer_left">
							<ul>
								<li>
									<h3>
										<i></i>
										<span>热门推荐</span>
									</h3>
									<p>
										<a href=""><span>整箱特惠</span></a>
										<a href=""><span>整箱特惠</span></a>
										<a href=""><span>整箱特惠</span></a>
										<a href=""><span>整箱特惠</span></a>
									</p>
								</li>
								<li>
									<h3>
										<i></i>
										<span>美酒品牌</span>
									</h3>
									<p>
										<a href=""><span>极品拉菲</span></a>
										<a href=""><span>极品拉菲</span></a>
										<a href=""><span>极品拉菲</span></a>
										<a href=""><span>极品拉菲</span></a>
									</p>
								</li>
							</ul>
							
						</div>
						<div class="lay_1_footer_right">
							<div class="lay_1_footer_right_title">
								<h3>
									<i class="lay_1_footer_right_title_i_position spr"></i>
									<span>本周热销排行榜</span>
								</h3>
								<div class="div_right">
									
								</div>
							</div>
							<div class="lay_1_footer_right_body">
								<div class="lay_1_footer_right_body_inner">
									<ul>
										<li>
											<i class="lay_1_footer_right_body_inner_li_left"></i>
											<div class="lay_1_footer_right_body_inner_li_pic">
												<a href=""><img src="images/index/floor/lay_1_footer_right_body_inner_li_pic.jpg"/></a>
											</div>
											<div class="lay_1_footer_right_body_inner_next">
												<div class="inner1">
													<a href="">
														【酒仙自营】法国整箱红酒法国（原瓶进口)法圣古堡圣威骑士干红葡萄酒750ml（6瓶装）
													</a>
												</div>
												<div class="miaosha_money">
													<b class="miaosha_b">￥99.00</b>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="lay_1 mt10">
					<div class="lay_1_title">
						<div class="lay_1_title_left">
							<i class="lay_1_title_left_i spr" style="background-position: -30px -95px;">2F</i>
							<span>五粮液</span>
						</div>
						<div class="lay_1_title_right">
							<a href="">贵州</a>|
							<a href="">四川</a>|
							<a href="">北京</a>|
							<a href="">江苏</a>|
							<a href="">山东</a>|
							<a href="">安徽</a>
							<a href="" class="nb_a">
								五粮液
								<span>></span>
							</a>
						</div>
					</div>
					<div class="lay_1_body">
						<div class="lay_1_body_left">
							<div id="container6">
								<ul>
									<li id="first_li5">
										<a href="">
											<img src="images/index/floor/lay_1_car_1.jpg" alt="" />
										</a>
									</li>
									<li id="second_li5">
										<a href="">
											<img src="images/index/floor/lay_1_car_2.jpg" alt="" />
										</a>
									</li> 
									<li id="third_li5">
										<a href="">
											<img src="images/index/floor/lay_1_car_3.jpg" alt="" />
										</a>
									</li>
								</ul> 
								<div id="pages5">
									
								</div>
							</div>
						</div>
						<div class="lay_1_body_right">
							<ul>
								<li>
									<p class="miaosha">
										<span>
											爆款
										</span>
									</p>
									<div class="lay_1_body_right_pic">
										<a href="/html/list.html?wuliangye">
											<img src="/images/list/wuliangye.png" alt="" />
										</a>
									</div>
									<div class="pro_a">
										<a href="">
											【酒仙自营】法国整箱红酒法国（原瓶进口)法圣古堡圣威骑士干红葡萄酒750ml（6瓶装）
										</a>
									</div>
									<div class="pro_money">
										<b>￥99.00</b>
									</div>
								</li>

							</ul>
						</div>
					</div>
					<div class="lay_1_footer">
						<div class="lay_1_footer_left">
							<ul>
								<li>
									<h3>
										<i></i>
										<span>热门推荐</span>
									</h3>
									<p>
										<a href=""><span>整箱特惠</span></a>
										<a href=""><span>整箱特惠</span></a>
										<a href=""><span>整箱特惠</span></a>
										<a href=""><span>整箱特惠</span></a>
									</p>
								</li>
								<li>
									<h3>
										<i></i>
										<span>美酒品牌</span>
									</h3>
									<p>
										<a href=""><span>极品拉菲</span></a>
										<a href=""><span>极品拉菲</span></a>
										<a href=""><span>极品拉菲</span></a>
										<a href=""><span>极品拉菲</span></a>
									</p>
								</li>
							</ul>
							
						</div>
						<div class="lay_1_footer_right">
							<div class="lay_1_footer_right_title">
								<h3>
									<i class="lay_1_footer_right_title_i_position spr"></i>
									<span>本周热销排行榜</span>
								</h3>
								<div class="div_right">
									
								</div>
							</div>
							<div class="lay_1_footer_right_body">
								<div class="lay_1_footer_right_body_inner">
									<ul>
										<li>
											<i class="lay_1_footer_right_body_inner_li_left"></i>
											<div class="lay_1_footer_right_body_inner_li_pic">
												<a href=""><img src="images/index/floor/lay_1_footer_right_body_inner_li_pic.jpg"/></a>
											</div>
											<div class="lay_1_footer_right_body_inner_next">
												<div class="inner1">
													<a href="">
														【酒仙自营】法国整箱红酒法国（原瓶进口)法圣古堡圣威骑士干红葡萄酒750ml（6瓶装）
													</a>
												</div>
												<div class="miaosha_money">
													<b class="miaosha_b">￥99.00</b>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="lay_1 mt10">
					<div class="lay_1_title">
						<div class="lay_1_title_left">
							<i class="lay_1_title_left_i spr" style="    background-position: -61px -95px;">3F</i>
							<span>泸州老窖</span>
						</div>
						<div class="lay_1_title_right">
							<a href="">贵州</a>|
							<a href="">四川</a>|
							<a href="">北京</a>|
							<a href="">江苏</a>|
							<a href="">山东</a>|
							<a href="">安徽</a>
							<a href="" class="nb_a">
								泸州老窖
								<span>></span>
							</a>
						</div>
					</div>
					<div class="lay_1_body">
						<div class="lay_1_body_left">
							<div id="container7">
								<ul>
									<li id="first_li5">
										<a href="">
											<img src="images/index/floor/lay_1_car_1.jpg" alt="" />
										</a>
									</li>
									<li id="second_li5">
										<a href="">
											<img src="images/index/floor/lay_1_car_2.jpg" alt="" />
										</a>
									</li> 
									<li id="third_li5">
										<a href="">
											<img src="images/index/floor/lay_1_car_3.jpg" alt="" />
										</a>
									</li>
								</ul> 
								<div id="pages5">
									
								</div>
							</div>
						</div>
						<div class="lay_1_body_right">
							<ul>
								<li>
									<p class="miaosha">
										<span>
											爆款
										</span>
									</p>
									<div class="lay_1_body_right_pic">
										<a href="/html/list.html?luzhoulaojiao">
											<img src="/images/list/luzhoulaojiao.jpg" alt="" />
										</a>
									</div>
									<div class="pro_a">
										<a href="">
											【酒仙自营】法国整箱红酒法国（原瓶进口)法圣古堡圣威骑士干红葡萄酒750ml（6瓶装）
										</a>
									</div>
									<div class="pro_money">
										<b>￥99.00</b>
									</div>
								</li>

							</ul>
						</div>
					</div>
					<div class="lay_1_footer">
						<div class="lay_1_footer_left">
							<ul>
								<li>
									<h3>
										<i></i>
										<span>热门推荐</span>
									</h3>
									<p>
										<a href=""><span>整箱特惠</span></a>
										<a href=""><span>整箱特惠</span></a>
										<a href=""><span>整箱特惠</span></a>
										<a href=""><span>整箱特惠</span></a>
									</p>
								</li>
								<li>
									<h3>
										<i></i>
										<span>美酒品牌</span>
									</h3>
									<p>
										<a href=""><span>极品拉菲</span></a>
										<a href=""><span>极品拉菲</span></a>
										<a href=""><span>极品拉菲</span></a>
										<a href=""><span>极品拉菲</span></a>
									</p>
								</li>
							</ul>
							
						</div>
						<div class="lay_1_footer_right">
							<div class="lay_1_footer_right_title">
								<h3>
									<i class="lay_1_footer_right_title_i_position spr"></i>
									<span>本周热销排行榜</span>
								</h3>
								<div class="div_right">
									
								</div>
							</div>
							<div class="lay_1_footer_right_body">
								<div class="lay_1_footer_right_body_inner">
									<ul>
										<li>
											<i class="lay_1_footer_right_body_inner_li_left"></i>
											<div class="lay_1_footer_right_body_inner_li_pic">
												<a href=""><img src="images/index/floor/lay_1_footer_right_body_inner_li_pic.jpg"/></a>
											</div>
											<div class="lay_1_footer_right_body_inner_next">
												<div class="inner1">
													<a href="">
														【酒仙自营】法国整箱红酒法国（原瓶进口)法圣古堡圣威骑士干红葡萄酒750ml（6瓶装）
													</a>
												</div>
												<div class="miaosha_money">
													<b class="miaosha_b">￥99.00</b>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="lay_1 mt10">
					<div class="lay_1_title">
						<div class="lay_1_title_left">
							<i class="lay_1_title_left_i spr" style="    background-position: -94px -95px;">4F</i>
							<span>黎明骑士</span>
						</div>
						<div class="lay_1_title_right">
							<a href="">贵州</a>|
							<a href="">四川</a>|
							<a href="">北京</a>|
							<a href="">江苏</a>|
							<a href="">山东</a>|
							<a href="">安徽</a>
							<a href="" class="nb_a">
								黎明骑士
								<span>></span>
							</a>
						</div>
					</div>
					<div class="lay_1_body">
						<div class="lay_1_body_left">
							<div id="container8">
								<ul>
									<li id="first_li5">
										<a href="">
											<img src="images/index/floor/lay_1_car_1.jpg" alt="" />
										</a>
									</li>
									<li id="second_li5">
										<a href="">
											<img src="images/index/floor/lay_1_car_2.jpg" alt="" />
										</a>
									</li> 
									<li id="third_li5">
										<a href="">
											<img src="images/index/floor/lay_1_car_3.jpg" alt="" />
										</a>
									</li>
								</ul> 
								<div id="pages5">
									
								</div>
							</div>
						</div>
						<div class="lay_1_body_right">
							<ul>
								<li>
									<p class="miaosha">
										<span>
											爆款
										</span>
									</p>
									<div class="lay_1_body_right_pic">
										<a href="/html/list.html?limingqishi">
											<img src="/images/list/limingqishi.png" alt="" />
										</a>
									</div>
									<div class="pro_a">
										<a href="">
											【酒仙自营】法国整箱红酒法国（原瓶进口)法圣古堡圣威骑士干红葡萄酒750ml（6瓶装）
										</a>
									</div>
									<div class="pro_money">
										<b>￥99.00</b>
									</div>
								</li>

							</ul>
						</div>
					</div>
					<div class="lay_1_footer">
						<div class="lay_1_footer_left">
							<ul>
								<li>
									<h3>
										<i></i>
										<span>热门推荐</span>
									</h3>
									<p>
										<a href=""><span>整箱特惠</span></a>
										<a href=""><span>整箱特惠</span></a>
										<a href=""><span>整箱特惠</span></a>
										<a href=""><span>整箱特惠</span></a>
									</p>
								</li>
								<li>
									<h3>
										<i></i>
										<span>美酒品牌</span>
									</h3>
									<p>
										<a href=""><span>极品拉菲</span></a>
										<a href=""><span>极品拉菲</span></a>
										<a href=""><span>极品拉菲</span></a>
										<a href=""><span>极品拉菲</span></a>
									</p>
								</li>
							</ul>
							
						</div>
						<div class="lay_1_footer_right">
							<div class="lay_1_footer_right_title">
								<h3>
									<i class="lay_1_footer_right_title_i_position spr"></i>
									<span>本周热销排行榜</span>
								</h3>
								<div class="div_right">
									
								</div>
							</div>
							<div class="lay_1_footer_right_body">
								<div class="lay_1_footer_right_body_inner">
									<ul>
										<li>
											<i class="lay_1_footer_right_body_inner_li_left"></i>
											<div class="lay_1_footer_right_body_inner_li_pic">
												<a href=""><img src="images/index/floor/lay_1_footer_right_body_inner_li_pic.jpg"/></a>
											</div>
											<div class="lay_1_footer_right_body_inner_next">
												<div class="inner1">
													<a href="">
														【酒仙自营】法国整箱红酒法国（原瓶进口)法圣古堡圣威骑士干红葡萄酒750ml（6瓶装）
													</a>
												</div>
												<div class="miaosha_money">
													<b class="miaosha_b">￥99.00</b>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="lay_1 mt10" id="F5">
					<div class="lay_1_title">
						<div class="lay_1_title_left">
							<i class="lay_1_title_left_i spr" style="background-position: 0 -207px;">5F</i>
							<span>人头马</span>
						</div>
						<div class="lay_1_title_right">
							<a href="">贵州</a>|
							<a href="">四川</a>|
							<a href="">北京</a>|
							<a href="">江苏</a>|
							<a href="">山东</a>|
							<a href="">安徽</a>
							<a href="" class="nb_a">
								人头马
								<span>></span>
							</a>
						</div>
					</div>
					<div class="lay_1_body">
						<div class="lay_1_body_left">
							<div id="container9">
								<ul>
									<li id="first_li5">
										<a href="">
											<img src="images/index/floor/lay_1_car_1.jpg" alt="" />
										</a>
									</li>
									<li id="second_li5">
										<a href="">
											<img src="images/index/floor/lay_1_car_2.jpg" alt="" />
										</a>
									</li> 
									<li id="third_li5">
										<a href="">
											<img src="images/index/floor/lay_1_car_3.jpg" alt="" />
										</a>
									</li>
								</ul> 
								<div id="pages5">
									
								</div>
							</div>
						</div>
						<div class="lay_1_body_right">
							<ul>
								<li>
									<p class="miaosha">
										<span>
											爆款
										</span>
									</p>
									<div class="lay_1_body_right_pic">
										<a href="/html/list.html?rentouma">
											<img src="/images/list/rentouma.jpg" alt="" />
										</a>
									</div>
									<div class="pro_a">
										<a href="">
											【酒仙自营】法国整箱红酒法国（原瓶进口)法圣古堡圣威骑士干红葡萄酒750ml（6瓶装）
										</a>
									</div>
									<div class="pro_money">
										<b>￥99.00</b>
									</div>
								</li>

							</ul>
						</div>
					</div>
					<div class="lay_1_footer">
						<div class="lay_1_footer_left">
							<ul>
								<li>
									<h3>
										<i></i>
										<span>热门推荐</span>
									</h3>
									<p>
										<a href=""><span>整箱特惠</span></a>
										<a href=""><span>整箱特惠</span></a>
										<a href=""><span>整箱特惠</span></a>
										<a href=""><span>整箱特惠</span></a>
									</p>
								</li>
								<li>
									<h3>
										<i></i>
										<span>美酒品牌</span>
									</h3>
									<p>
										<a href=""><span>极品拉菲</span></a>
										<a href=""><span>极品拉菲</span></a>
										<a href=""><span>极品拉菲</span></a>
										<a href=""><span>极品拉菲</span></a>
									</p>
								</li>
							</ul>
							
						</div>
						<div class="lay_1_footer_right">
							<div class="lay_1_footer_right_title">
								<h3>
									<i class="lay_1_footer_right_title_i_position spr"></i>
									<span>本周热销排行榜</span>
								</h3>
								<div class="div_right">
									
								</div>
							</div>
							<div class="lay_1_footer_right_body">
								<div class="lay_1_footer_right_body_inner">
									<ul>
										<li>
											<i class="lay_1_footer_right_body_inner_li_left"></i>
											<div class="lay_1_footer_right_body_inner_li_pic">
												<a href=""><img src="images/index/floor/lay_1_footer_right_body_inner_li_pic.jpg"/></a>
											</div>
											<div class="lay_1_footer_right_body_inner_next">
												<div class="inner1">
													<a href="">
														【酒仙自营】法国整箱红酒法国（原瓶进口)法圣古堡圣威骑士干红葡萄酒750ml（6瓶装）
													</a>
												</div>
												<div class="miaosha_money">
													<b class="miaosha_b">￥99.00</b>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
				
				
				<div class="">
					
				</div>
			</div>
		</div>
	<ul class="side_menu">
		<li>1L<span style="color: white;">服饰</span></li>
		<li>2L<span style="color: white;">家电</span></li>
		<li>3L<span style="color: white;">数码</span></li>
		<li>4L<span style="color: white;">手机</span></li>
		<li>5L<span style="color: white;">零时</span></li>
	</ul>
	<!--文档尾部-->
	<div class="footer"></div>
	
	<script type="text/html" id="pre_lay_1_left_temp">
	<ul>
		<% for(var i = 0; i < 5; i++) { %> 
		<div class="pre_lay_1_left_body_inner">
			<ul>
				<% for(var j = 0; j < 10; j++) { %>
					<li>
						<div class="inner_div1">
							<a href="">
								<img src="<%=datas[i].imgs[0].imgSrc%>" alt="" />
							</a>
							<p>
								<span>秒杀</span>
							</p>
						</div>
						<div class="inner_div2">
							<a href="">
								【千杯自营】52°酒鬼馥郁天成（天工开物升级版）1L+52°酒鬼酒（天工开物）248ml
							</a>
						</div>
						<div class="inner_div3">
							<b>
								￥299.00
							</b>
							<span>
								<em>
									￥289.00
								</em>
								<i></i>
							</span>
						</div>
					</li>
				<% } %>
			</ul>
		</div>
		<% } %>
	</ul>
	</script>	
	<div class="json_demo_html"></div>
	<script type="text/html" id="json_demo">
		<%
			for (var i = 0; i < datas.length; i++) {
		%>
			<div>选项卡标签：<%= datas[i].title %></div>
			<%
				for (var j = 0; j < datas[i].imgs.length; j++){
			%>
				<div>图片内容 <img src="<%= datas[i].imgs[j].imgSrc %>" alt="" /></div>
			<%
				}
			%>
		<%
			}
		%>
	</script>
</body>
</html>