<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
	<script src="lib/require/require.js" type="text/javascript" data-main="js/index" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="css/icon/iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" href="css/header.css" />
</head>
<body>
	<!--文档头部-->
	<div class="header"></div>
	<!--文档主体-->
	<div class="main">
		<div class="navouter">
			<div class="nav">
				<div class="nav_left">
					<h2>商品全品类</h2>
				</div>
				<ul class="nav_mid">
					<li>
						<a href="">
							首页
							<s></s>
						</a>
						
					</li>
					<li>
						<a href="">
							百店同庆
							<s></s>
						</a>
						<span class="hot fairy_pic"></span>
					</li>
					<li>
						<a href="">
							领券
							<s></s>
						</a>
						<span class="hot fairy_pic"></span>
					</li>
					<li>
						<a href="">
							CLUB会员
							<s></s>
						</a>
						<span class="new fairy_pic"></span>
					</li>
					<li>
						<a href="">
							葡萄酒馆
							<s></s>
						</a>
					</li>
					<li>
						<a href="">
							洋酒馆
							<s></s>
						</a>
					</li>
					<li>
						<a href="">
							清仓
							<s></s>
						</a>
					</li>
					<li>
						<a href="">
							金六福特卖
							<s></s>
						</a>
					</li>
					<li>
						<a href="">
							新品
							<s></s>
						</a>
					</li>
				</ul>
				<div class="nav_right">
					<a href="">
						
					</a>
				</div>
			</div>
		</div>
		<div id="container">
			<ul>
				<li id="first_li"></li>
				<li id="second_li"></li>
				<li id="third_li"></li>
				<li id="forth_li"></li>
			</ul>
			<div id="pages">
				
			</div>
			<div id="prev">&lt;</div>
			<div id="next">&gt;</div>
		</div>
		<div class="mainbox_outer">
			<div class="mainbox">
				<div class="bgleft">
					<a href=""></a>
				</div>
				<div class="bgright">
					<a href=""></a>
				</div>
				<div class="pre_lay_1">
					<div class="pre_lay_1_left">
						<div class="pre_lay_1_left_head">
							
						</div>
						<div class="pre_lay_1_left_body">
							
						</div>
					</div>
					<div class="pre_lay_1_right">
						
						<div class="pre_lay_1_right_top">
							<div class="pre_lay_1_right_top_head">
								<ul class="pre_lay_1_right_top_head_u1">
									<li class="pre_lay_1_right_top_head_li1 checkbox_on">公告信息</li>
									<li class="pre_lay_1_right_top_head_li2">促销信息</li>
								</ul>
							</div>
							<div class="pre_lay_1_right_top_body">
								<div class="pre_lay_1_right_top_body_div1">
									<ul class="pre_lay_1_right_top_body_u1">
										<li>
											<a href="">
												8周年巅峰两小时两小时两小时两小时
											</a>
										</li>
										<li>
											<a href="">
												8周年巅峰两小时两小时两小时两小时
											</a>
										</li>
										<li>
											<a href="">
												8周年巅峰两小时两小时两小时两小时
											</a>
										</li>
										<li>
											<a href="">
												8周年巅峰两小时两小时两小时两小时
											</a>
										</li>
										<li>
											<a href="">
												8周年巅峰两小时两小时两小时两小时
											</a>
										</li>
										<li>
											<a href="">
												8周年巅峰两小时两小时两小时两小时
											</a>
										</li>
									</ul>
									<ul class="pre_lay_1_right_top_body_u2">
										<li>
											<a href="">
												国际啤酒节中奖名单
											</a>
										</li>
										<li>
											<a href="">
												国际啤酒节中奖名单
											</a>
										</li>
										<li>
											<a href="">
												国际啤酒节中奖名单
											</a>
										</li>
										<li>
											<a href="">
												国际啤酒节中奖名单
											</a>
										</li>
										<li>
											<a href="">
												国际啤酒节中奖名单
											</a>
										</li>
										<li>
											<a href="">
												国际啤酒节中奖名单
											</a>
										</li>
									</ul>
								</div>		
							</div>
						</div> 
						
						<div class="pre_lay_1_right_mid mt10">
							<div id="container2">
								<ul>
									<li id="first_li2">
										<a href=""><img src="images/index/banner/bno1.png" alt="" /></a>
									</li>
									<li id="second_li2">
										<a href=""><img src="images/index/banner/bno2.jpg" alt="" /></a>
									</li>
									<li id="third_li2">
										<a href=""><img src="images/index/banner/bno3.png" alt="" /></a>
									</li>
								</ul>
								<div id="pages2">
									
								</div>
								
							</div>
						</div>
						
						<div class="pre_lay_1_right_bot mt10">
							<div id="container3">
								<ul>
									<li id="first_li3">
										<a href=""><img src="images/index/banner/cno1.jpg" alt="" /></a>
									</li>
									<li id="second_li3">
										<a href=""><img src="images/index/banner/cno2.jpg" alt="" /></a>
									</li> 
									<li id="third_li3">
										<a href=""><img src="images/index/banner/cno3.png" alt="" /></a>
									</li>
								</ul>
								<div id="pages3">
									
								</div>
								
							</div>
						</div>
					</div>
				</div> 
				<div class="pre_lay_2 mt20" style="background: url(images/index/floor/pre_lay_2.jpg) no-repeat top center;">
					<p>
						<a href=""><img src="images/index/floor/pre_lay_2_img1.png"/></a>
					</p>
					<p>
						<a href=""><img src="images/index/floor/pre_lay_2_img2.png"/></a>
					</p>
					<p>
						<a href=""><img src="images/index/floor/pre_lay_2_img3.png"/></a>
					</p>
				</div>
				<div class="pre_lay_3 mt10">
					<div class="pre_lay_3_title">
						<div class="pre_lay_3_title_son">
							<i class="pre_lay_3_title_icon spr"></i>
							<span>优惠推荐</span>
						</div>
					</div>
					<div id="container4">
						<ul>
							<li id="first_li4">
									<div class="big_son">
										<p class="miaosha">
											<span>秒杀</span>
										</p>
										<div class="miaosha_pic">
											<a href="">
												<img src="images/index/floor/pre_lay_3_miaoshapic.png" alt="" />
											</a>
										</div>
										<div class="miaosha_lianjie">
											<a href="">
												52°扳倒井天香五十二1000ml
											</a>
										</div> 
										<div class="miaosha_money">
											<b class="miaosha_b">￥39.00</b>
										</div> 
										<div class="miaosha_time">
											<span>剩余：</span>
											<i class="days"></i>
											<span>天</span>
											<i class="hours"></i>
											<span>小时</span>
											<i class="minutes"></i>
											<span>分钟</span>
											<i class="seconds"></i>
											<span>秒</span>
										</div>
									</div>
									<div class="big_son">
										<p class="miaosha">
											<span>秒杀</span>
										</p>
										<div class="miaosha_pic">
											<a href="">
												<img src="images/index/floor/pre_lay_3_miaoshapic.png" alt="" />
											</a>
										</div>
										<div class="miaosha_lianjie">
											<a href="">
												52°扳倒井天香五十二1000ml
											</a>
										</div> 
										<div class="miaosha_money">
											<b class="miaosha_b">￥39.00</b>
										</div> 
										<div class="miaosha_time">
											<span>剩余：</span>
											<i class="days"></i>
											<span>天</span>
											<i class="hours"></i>
											<span>小时</span>
											<i class="minutes"></i>
											<span>分钟</span>
											<i class="seconds"></i>
											<span>秒</span>
										</div>
									</div>
									<div class="big_son">
										<p class="miaosha">
											<span>秒杀</span>
										</p>
										<div class="miaosha_pic">
											<a href="">
												<img src="images/index/floor/pre_lay_3_miaoshapic.png" alt="" />
											</a>
										</div>
										<div class="miaosha_lianjie">
											<a href="">
												52°扳倒井天香五十二1000ml
											</a>
										</div> 
										<div class="miaosha_money">
											<b class="miaosha_b">￥39.00</b>
										</div> 
										<div class="miaosha_time">
											<span>剩余：</span>
											<i class="days"></i>
											<span>天</span>
											<i class="hours"></i>
											<span>小时</span>
											<i class="minutes"></i>
											<span>分钟</span>
											<i class="seconds"></i>
											<span>秒</span>
										</div>
									</div>
									<div class="big_son">
										<p class="miaosha">
											<span>秒杀</span>
										</p>
										<div class="miaosha_pic">
											<a href="">
												<img src="images/index/floor/pre_lay_3_miaoshapic.png" alt="" />
											</a>
										</div>
										<div class="miaosha_lianjie">
											<a href="">
												52°扳倒井天香五十二1000ml
											</a>
										</div> 
										<div class="miaosha_money">
											<b class="miaosha_b">￥39.00</b>
										</div> 
										<div class="miaosha_time">
											<span>剩余：</span>
											<i class="days"></i>
											<span>天</span>
											<i class="hours"></i>
											<span>小时</span>
											<i class="minutes"></i>
											<span>分钟</span>
											<i class="seconds"></i>
											<span>秒</span>
										</div>
									</div>
									<div class="big_son">
										<p class="miaosha">
											<span>秒杀</span>
										</p>
										<div class="miaosha_pic">
											<a href="">
												<img src="images/index/floor/pre_lay_3_miaoshapic.png" alt="" />
											</a>
										</div>
										<div class="miaosha_lianjie">
											<a href="">
												52°扳倒井天香五十二1000ml
											</a>
										</div> 
										<div class="miaosha_money">
											<b class="miaosha_b">￥39.00</b>
										</div> 
										<div class="miaosha_time">
											<span>剩余：</span>
											<i class="days"></i>
											<span>天</span>
											<i class="hours"></i>
											<span>小时</span>
											<i class="minutes"></i>
											<span>分钟</span>
											<i class="seconds"></i>
											<span>秒</span>
										</div>
									</div>
									<div class="big_son">
										<p class="miaosha">
											<span>秒杀</span>
										</p>
										<div class="miaosha_pic">
											<a href="">
												<img src="images/index/floor/pre_lay_3_miaoshapic.png" alt="" />
											</a>
										</div>
										<div class="miaosha_lianjie">
											<a href="">
												52°扳倒井天香五十二1000ml
											</a>
										</div> 
										<div class="miaosha_money">
											<b class="miaosha_b">￥39.00</b>
										</div> 
										<div class="miaosha_time">
											<span>剩余：</span>
											<i class="days"></i>
											<span>天</span>
											<i class="hours"></i>
											<span>小时</span>
											<i class="minutes"></i>
											<span>分钟</span>
											<i class="seconds"></i>
											<span>秒</span>
										</div>
									</div>
							</li>
							<li id="second_li4">
									<div class="">
										<p></p>
										<div class="">
											<a href=""></a>
										</div>
										<div class="">
											
										</div>
										<div class="">
											
										</div>
										<div class="">
											
										</div>
									</div>
							</li>
							<li id="third_li4">
									<div class="">
										<p></p>
										<div class="">
											<a href=""></a>
										</div>
										<div class="">
											
										</div>
										<div class="">
											
										</div>
										<div class="">
											
										</div>
									</div>
							</li>
						</ul>
						<div id="pages4">
							
						</div>
						<div id="prev4">&lt;</div>
						<div id="next4">&gt;</div>
					</div>
				</div>
				<div class="lay_1 mt10">
					<div class="lay_1_title">
						<div class="lay_1_title_left">
							<i class="lay_1_title_left_i spr">1F</i>
							<span>白酒馆</span>
						</div>
						<div class="lay_1_title_right">
							<a href="">贵州</a>|
							<a href="">四川</a>|
							<a href="">北京</a>|
							<a href="">江苏</a>|
							<a href="">山东</a>|
							<a href="">安徽</a>
							<a href="" class="nb_a">
								白酒馆
								<span>></span>
							</a>
						</div>
					</div>
					<div class="lay_1_body">
						<div class="lay_1_body_left">
							<div id="container5">
								<ul>
									<li id="first_li5">
										<a href="">
											<img src="images/index/floor/lay_1_car_1.jpg" alt="" />
										</a>
									</li>
									<li id="second_li5">
										<a href="">
											<img src="images/index/floor/lay_1_car_2.jpg" alt="" />
										</a>
									</li> 
									<li id="third_li5">
										<a href="">
											<img src="images/index/floor/lay_1_car_3.jpg" alt="" />
										</a>
									</li>
								</ul>
								<div id="pages5">
									
								</div>
							</div>
						</div>
						<div class="lay_1_body_right">
							<ul>
								<li>
									<p class="miaosha">
										<span>
											爆款
										</span>
									</p>
									<div class="lay_1_body_right_pic">
										<a href="">
											<img src="images/index/floor/lay_1_li_1.jpg" alt="" />
										</a>
									</div>
									<div class="pro_a">
										<a href="">
											【酒仙自营】法国整箱红酒法国（原瓶进口)法圣古堡圣威骑士干红葡萄酒750ml（6瓶装）
										</a>
									</div>
									<div class="pro_money">
										<b>￥99.00</b>
									</div>
								</li>

							</ul>
						</div>
					</div>
					<div class="lay_1_footer">
						<div class="lay_1_footer_left">
							<ul>
								<li>
									<h3>
										<i></i>
										<span>热门推荐</span>
									</h3>
									<p>
										<a href=""><span>整箱特惠</span></a>
										<a href=""><span>整箱特惠</span></a>
										<a href=""><span>整箱特惠</span></a>
										<a href=""><span>整箱特惠</span></a>
									</p>
								</li>
								<li>
									<h3>
										<i></i>
										<span>美酒品牌</span>
									</h3>
									<p>
										<a href=""><span>极品拉菲</span></a>
										<a href=""><span>极品拉菲</span></a>
										<a href=""><span>极品拉菲</span></a>
										<a href=""><span>极品拉菲</span></a>
									</p>
								</li>
							</ul>
							
						</div>
						<div class="lay_1_footer_right">
							<div class="lay_1_footer_right_title">
								<h3>
									<i class="lay_1_footer_right_title_i_position spr"></i>
									<span>本周热销排行榜</span>
								</h3>
								<div class="div_right">
									
								</div>
							</div>
							<div class="lay_1_footer_right_body">
								<div class="lay_1_footer_right_body_inner">
									<ul>
										<li>
											<i class="lay_1_footer_right_body_inner_li_left"></i>
											<div class="lay_1_footer_right_body_inner_li_pic">
												<a href=""><img src="images/index/floor/lay_1_footer_right_body_inner_li_pic.jpg"/></a>
											</div>
											<div class="lay_1_footer_right_body_inner_next">
												<div class="inner1">
													<a href="">
														【酒仙自营】法国整箱红酒法国（原瓶进口)法圣古堡圣威骑士干红葡萄酒750ml（6瓶装）
													</a>
												</div>
												<div class="miaosha_money">
													<b class="miaosha_b">￥99.00</b>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	<!--文档尾部-->
	<div class="footer"></div>
	<div class="demo_temp" style="height:300px; background: #666;"></div>
	<script type="text/html" id="pre_lay_1_left_temp">
	<ul>
		<% for(var i = 0; i < liname.length; i++) { %>
		<li class=""><%= liname[i] %></li>
		<% } %>
	</ul>
	</script>	
	
	
</body>
</html>