<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
	<script src="/lib/require/require.js" type="text/javascript" data-main="../js/detail" charset="utf-8"></script>
	<link rel="stylesheet" href="/css/detail.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/footer.css" />
</head>
<body>
	<div class="header"> 
		
	</div>
	<div class="clear">
		
	</div>
	<div class="main">
		<div class="small_main">

		</div>
		<div class="small_main2">
			
		</div>
	</div>
	</div>
	</div>
	<div class="clear">
		
	</div>
	<div class="footer">
		
	</div>
</body>
	<script type="text/html" id="detail">
		<h1 class="super_name"><%= datas[xxx].title_big %></h1>
		<p><%= datas[xxx].title_sup %></p>
		<div class="nim need_price"><span style="font-size: 24px;">￥</span><%= datas[xxx].price_big %></div>
		<div class="last1_money"><%= datas[xxx].price_big_culb %><i></i></div>
		<div class="how_many">
			<div class="cha">
				数量
			</div>
			<div class="more_less">
				
				<div class="in_de">
					<input type="" class="need_amount" id="" value="1" />
					<a href="javascript:0" class="increase"></a>
					<a href="javascript:0" class="decrease"></a>
				</div>
				<div class="give">
					每购买2瓶，即赠送原厂手提袋1个
				</div>
			</div>
		</div>
		<div class="no_ne">no.<%= datas[xxx].id %></div>
		<div class="line">
			
		</div>
		<div class="atoc">
			<a href="javascript:">
				加入购物车
			</a>
		</div>
	</script>
</html>